# Directorios de Compilación y Gradle
.gradle/
build/
bin/
out/

# Mantener el Wrapper de Gradle para que funcione en tu laptop
!gradle/wrapper/gradle-wrapper.jar

# Logs y archivos temporales del sistema
*.log
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans e Eclipse (Opcional, pero recomendado por limpieza)
.apt_generated/
.classpath
.factorypath
.project
.settings/
/nbproject/private/
/nbbuild/
/dist/